#vehicle_table th, #new_checklist_table th, #used_checklist_table th {
padding-top:5px;
padding-bottom:4px;
background-color:#87CEEB;
border:1px solid #000033;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.jpg);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.jpg);
}

    .digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #87CEEB;
    color: white;
    border: 1px solid #87CEEB; }
  .digg_pagination a {
    text-decoration: none;
    color: #999999;
    border: 1px solid #87CEEB; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #999999;
      border-color: #87CEEB; }
  .digg_pagination .page_info {
    background: #87CEEB;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #87CEEB;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }